<div class="row">
  <div class="cold-md-4 mx-auto">
      <div class="card mt-4 text-center">
          <div class="card-header">
<h1>INICIO DE SESION</h1>
          </div>
          
          <div class="card-body">
<form action="/users/signin" method="POST">
    <div class="form-group">
     <input type="email" class="form-control" name="email" placeholder="Correo" autofocus>   
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Clave" >
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </div>
</form>
          </div>
      </div>
  </div>
</div>