
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <h1 class="container mt-5 mb-5" style ="text-align:center;">Conoce a los desrolladores!</h1>
    </div>
  </div>
</div>

<div class="continer mt-5 mb-5" style="display:flex; flex-wrap:wrap ;justify-content:space-between">
    <div class="card" style="width: 18rem;">
        <img src="../img/10.jpg" alt="Foto de Jeffrey">
        <div class="card-body">
            <h5 class="card-title">Jeffrey Ortiz</h5>
            <p class="card-text">Front-End</p>
            <p>20174893@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../img/4.jpg" class="card-img-top" alt="Foto de Darlin">
        <div class="card-body">
            <h5 class="card-title">Darlin Santana</h5>
            <p class="card-text">Back-End</p>
            <p>20174893@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../img/2.jpg" class="card-img-top" alt="Foto de Erick">
        <div class="card-body">
            <h5 class="card-title">Erick Brito</h5>
            <p class="card-text">Back-End</p>
            <p>20175642@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../img/1.jpg" class="card-img-top" alt="Foto de Alfredo">
        <div class="card-body">
            <h5 class="card-title">Alfredo Linarez</h5>
            <p class="card-text">Front-End</p>
            <p>20174800@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="Foto de Eddy">
        <div class="card-body">
            <h5 class="card-title">Eddy Vicente</h5>
            <p class="card-text">Base de Datos</p>
            <p>20174262@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../img/1.jpg" class="card-img-top" alt="Foto de Wilfred">
        <div class="card-body">
            <h5 class="card-title">Wilfred Medina</h5>
            <p class="card-text">Base de Datos</p>
            <p>@itla.edu.do</p>
        </div>
    </div>
</div>

