<footer class="page-footer bg-dark">
    <div class="bg-secondary">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                    <a class="text-white mr-4" href="#">Facebook</a>
                    <a class="text-white mr-4" href="#">Instagram</a>
                    <a class="text-white mr-4" href="#">Github</a>
                    <a class="text-white mr-4" href="#">Gmail</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5 text-white">
        <div class="row">

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Busca Empleos RD</h6>
                <hr class="bg-light mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <p class="mt-2">
                    Nuestra Mission es, poder servirle de hermientas a todos los dominicanos, 
                    cuando llego la hora de buscar trabajos. Estamos en teimpos dificiles, 
                    y ahora mas que nunca necesitamos algo que lo haga menos dificil. 
                    Nosotros creemos que Busca Empleos RD es la solucion correcta. Y tu?
                </p>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Links</h6>
                <hr class="bg-light mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">

                <ul class="list-unstyled">
                    <li class="my-2">Inicio</li>
                    <li class="my-2">Login</li>
                    <li class="my-2">Registro</li>
                    <li class="my-2">Nosotros</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 bg-light">
        <p> &copy; Copyright</p>
        <a href="https://github.com/skateohalic1504/Prog3-ProyectoWeb">Prog3-ProyectoWeb</a>
        <p>Diseñaado por el equipo de Busca Empleo RD</p>
    </div>


</footer>