<div class="container">
    <div>
        <form action="">
            <div class="form-group">
                <label for="primary">Post por paginas (INDEX):</label>
                <input type="number" id="primary" name="primary" class="form-group">
            </div>
            <div class="form-group">
                <label for="secondary">Post por paginas (INDEX):</label>
                <input type="number" id="primary" name="primary" class="form-group">
            </div>
        </form>
    </div>
</div>